In [89]:
!pip install xlrd
!pip install openpyxl

Requirement already satisfied: xlrd in c:\users\damian\anaconda3\lib\site-packages (2.0.1)
Requirement already satisfied: openpyxl in c:\users\damian\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\damian\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [1]:
a=5

In [80]:
print (a)

5

In [85]:
import pandas as pd

cv_path = 'Desktop/MPB.csv'
rd = pd.read_csv(cv_path)

rd

,Expenses,Week 1,Week 2,Week 3,Week 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Mortgage or rent,"$1,000.00","$1,000.00",$0.00,"$1,542.00",NaN,NaN,$0.00
1,Phone,$54.00,$100.00,($46.00),CDs,NaN,NaN,$0.00
2,Electricity,$44.00,$56.00,($12.00),Movies,NaN,NaN,$0.00
3,Gas,$22.00,$28.00,($6.00),Concerts,NaN,NaN,$0.00
4,Water and sewer,$8.00,$8.00,$0.00,Sporting events,NaN,NaN,$0.00
...,...,...,...,...,...,...,...,...
57,NaN,NaN,NaN,NaN,Total projected cost,NaN,NaN,"$1,195.00"
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,NaN,Total actual cost,NaN,NaN,"$1,236.00"
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,NaN,NaN,NaN,NaN,Total difference,NaN,NaN,($41.00)

In [86]:
import pandas as pd

cv_path = 'Desktop/MPB.csv'
rd = pd.read_csv(cv_path)

rd.head()

,Expenses,Week 1,Week 2,Week 3,Week 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Mortgage or rent,"$1,000.00","$1,000.00",$0.00,"$1,542.00",NaN,NaN,$0.00
1,Phone,$54.00,$100.00,($46.00),CDs,NaN,NaN,$0.00
2,Electricity,$44.00,$56.00,($12.00),Movies,NaN,NaN,$0.00
3,Gas,$22.00,$28.00,($6.00),Concerts,NaN,NaN,$0.00
4,Water and sewer,$8.00,$8.00,$0.00,Sporting events,NaN,NaN,$0.00

In [81]:
import pandas as pd

cv_path = 'Desktop/MPB.csv'
rd = pd.read_csv(cv_path)

rd.head()

# Save the DataFrame to a CSV file named 'PD_Lesson1.csv'
rd.to_csv('PD_Lesson1.csv', index=False)

In [84]:
v = rd[['Week 2']]

In [51]:
import pandas as pd

cv_path = 'Desktop/MPB.csv'
rd = pd.read_csv(cv_path)



# Access the "Week 2" column
v = rd[['Week 2','Week 3']] #Display Specific callum


print (v)

        Week 2    Week 3
0   $1,000.00     $0.00
1     $100.00   ($46.00)
2      $56.00   ($12.00)
3      $28.00    ($6.00)
4       $8.00     $0.00
..         ...       ...
57         NaN       NaN
58         NaN       NaN
59         NaN       NaN
60         NaN       NaN
61         NaN       NaN

[62 rows x 2 columns]

In [53]:
#Displaying Unique Data
rd['Week 2'].unique()

array(['$1,000.00 ', '$100.00 ', '$56.00 ', '$28.00 ', '$8.00 ',
       '$34.00 ', '$10.00 ', '$0.00 ', nan, 'Actual \ncost'], dtype=object)

In [70]:
import pandas as pd

# Assuming the CSV file is located at 'Desktop/MPB.csv'
cv_path = 'Desktop/MPB.csv'

# Read the CSV file into a DataFrame
rd = pd.read_csv(cv_path)

# Convert the "Week 2" column to numeric type (float or int)
rd['Week 2'] = pd.to_numeric(rd['Week 2'], errors='coerce')

# Filter out rows where "Week 2" column is greater than or equal to 100
rd1 = rd[rd['Week 2'] >= 100]

print (rd1)

Empty DataFrame
Columns: [Expenses, Week 1, Week 2, Week 3, Week 4, Unnamed: 5, Unnamed: 6, Unnamed: 7]
Index: []