In [1]:
a=14
a

14

In [32]:
from randomuser import RandomUser
import pandas as pd

rm = RandomUser()
data = rm.generate_users(14)
# Convert the list of user dictionaries to a pandas DataFrame
df = pd.DataFrame(data)

# Now 'df' contains the random user data for 5 users
pd.DataFrame(data)

                                                   0
0   <randomuser.RandomUser object at 0x7f85601cb7c0>
1   <randomuser.RandomUser object at 0x7f85601cba90>
2   <randomuser.RandomUser object at 0x7f85601cb880>
3   <randomuser.RandomUser object at 0x7f85601cb5e0>
4   <randomuser.RandomUser object at 0x7f85601cb040>
5   <randomuser.RandomUser object at 0x7f856026b850>
6   <randomuser.RandomUser object at 0x7f856026ba00>
7   <randomuser.RandomUser object at 0x7f8560124280>
8   <randomuser.RandomUser object at 0x7f8560125990>
9   <randomuser.RandomUser object at 0x7f8560125c60>
10  <randomuser.RandomUser object at 0x7f855bf49990>
11  <randomuser.RandomUser object at 0x7f85601ac4f0>
12  <randomuser.RandomUser object at 0x7f85601adf60>
13  <randomuser.RandomUser object at 0x7f85601acb50>

In [56]:
name = rm.get_full_name()

name

'Roy Torres'

In [83]:
from randomuser import RandomUser
import pandas as pd
import requests

rm = RandomUser()
data = rm.generate_users(14)
# Convert the list of user dictionaries to a pandas DataFrame

name = rm.get_full_name(10)

for user in data:
    print(user.get_full_name(),"", user.get_email())

Bella Fykse  bella.fykse@example.com
آوا قاسمی  aw.qsmy@example.com
Gökhan Topaloğlu  gokhan.topaloglu@example.com
Diane Muller  diane.muller@example.com
Chloe Lee  chloe.lee@example.com
Edward Davies  edward.davies@example.com
Jasmine White  jasmine.white@example.com
Magnus Rasmussen  magnus.rasmussen@example.com
Katie Roberts  katie.roberts@example.com
Karsten Otte  karsten.otte@example.com
Zara Clarke  zara.clarke@example.com
رها جعفری  rh.jaafry@example.com
Silje Koning  silje.koning@example.com
Laura Duncan  laura.duncan@example.com

In [67]:
name

'Roy Torres'

In [60]:
data = rm.generate_users(14)
data

[<randomuser.RandomUser at 0x7f8558d52080>,
 <randomuser.RandomUser at 0x7f8558d539d0>,
 <randomuser.RandomUser at 0x7f85a34b4c40>,
 <randomuser.RandomUser at 0x7f855bf48280>,
 <randomuser.RandomUser at 0x7f85588ae500>,
 <randomuser.RandomUser at 0x7f85588aead0>,
 <randomuser.RandomUser at 0x7f85588af040>,
 <randomuser.RandomUser at 0x7f85588af520>,
 <randomuser.RandomUser at 0x7f85588ae7d0>,
 <randomuser.RandomUser at 0x7f85585c3f40>,
 <randomuser.RandomUser at 0x7f85585c10c0>,
 <randomuser.RandomUser at 0x7f85585c1c00>,
 <randomuser.RandomUser at 0x7f85585c2a10>,
 <randomuser.RandomUser at 0x7f85585c0a00>]

In [92]:
from randomuser import RandomUser
import pandas as pd
import requests


r = RandomUser()
some_list = r.generate_users(10)

name = r.get_full_name()

for user in some_list:
    print(user.get_full_name(),"", user.get_email())

for user in some_list:
    print(user.get_picture())

Scarlett Morris  scarlett.morris@example.com
Amelia Newman  amelia.newman@example.com
Sarissa Bogaards  sarissa.bogaards@example.com
Curtis Perkins  curtis.perkins@example.com
Alexandre Chu  alexandre.chu@example.com
Franca Morel  franca.morel@example.com
محمد یاسمی  mhmd.ysmy@example.com
Daryl Perry  daryl.perry@example.com
Esha Zweekhorst  esha.zweekhorst@example.com
Ernesto Silva  ernesto.silva@example.com
https://randomuser.me/api/portraits/women/32.jpg
https://randomuser.me/api/portraits/women/15.jpg
https://randomuser.me/api/portraits/women/88.jpg
https://randomuser.me/api/portraits/men/50.jpg
https://randomuser.me/api/portraits/men/83.jpg
https://randomuser.me/api/portraits/women/87.jpg
https://randomuser.me/api/portraits/men/25.jpg
https://randomuser.me/api/portraits/men/70.jpg
https://randomuser.me/api/portraits/women/25.jpg
https://randomuser.me/api/portraits/men/56.jpg

In [91]:
from randomuser import RandomUser
import pandas as pd
import requests

r = RandomUser()
some_list = r.generate_users(10)
name = r.get_full_name()

for user in some_list:
    print(user.get_picture())

https://randomuser.me/api/portraits/women/0.jpg
https://randomuser.me/api/portraits/women/84.jpg
https://randomuser.me/api/portraits/men/53.jpg
https://randomuser.me/api/portraits/men/96.jpg
https://randomuser.me/api/portraits/men/36.jpg
https://randomuser.me/api/portraits/men/75.jpg
https://randomuser.me/api/portraits/men/31.jpg
https://randomuser.me/api/portraits/women/13.jpg
https://randomuser.me/api/portraits/men/45.jpg
https://randomuser.me/api/portraits/women/1.jpg

In [102]:
def get_users():
    users =[]
     
    for user in RandomUser.generate_users(10):
        users.append({"Name":user.get_full_name(),"Gender":user.get_gender(),"City":user.get_city(),"State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})
      
    return pd.DataFrame(users)   

get_users()

,Name,Gender,City,State,Email,DOB,Picture
0,Leonarda Niemantsverdriet,female,Idsegahuizum,Drenthe,leonarda.niemantsverdriet@example.com,1982-12-09T13:43:00.360Z,https://randomuser.me/api/portraits/women/17.jpg
1,Saskia Pierre,female,Ossingen,Appenzell Ausserrhoden,saskia.pierre@example.com,1989-04-02T23:57:06.421Z,https://randomuser.me/api/portraits/women/74.jpg
2,Rosa Rasmussen,female,Øster Assels,Sjælland,rosa.rasmussen@example.com,1978-02-04T12:35:04.869Z,https://randomuser.me/api/portraits/women/19.jpg
3,Pius Ziemer,male,Frankenberg (Eder),Sachsen,pius.ziemer@example.com,1972-08-27T05:30:36.889Z,https://randomuser.me/api/portraits/men/11.jpg
4,Julie Day,female,Edenderry,Kildare,julie.day@example.com,1994-09-15T00:14:48.899Z,https://randomuser.me/api/portraits/women/12.jpg
5,Venla Makela,female,Kempele,Central Finland,venla.makela@example.com,1991-02-22T07:51:58.083Z,https://randomuser.me/api/portraits/women/40.jpg
6,Cindy Williams,female,Surrey,California,cindy.williams@example.com,1962-04-13T06:57:47.041Z,https://randomuser.me/api/portraits/women/72.jpg
7,Gesa Loth,female,Havelland,Schleswig-Holstein,gesa.loth@example.com,1947-09-15T19:37:43.257Z,https://randomuser.me/api/portraits/women/17.jpg
8,Paul Lecomte,male,Champigny-sur-Marne,Charente,paul.lecomte@example.com,1974-04-15T18:03:27.469Z,https://randomuser.me/api/portraits/men/76.jpg
9,سینا کریمی,male,خمینی‌شهر,چهارمحال و بختیاری,syn.khrymy@example.com,1992-03-15T08:20:57.652Z,https://randomuser.me/api/portraits/men/78.jpg

In [113]:
import os
import json
import requests
import pandas

data = requests.get("https://fruityvice.com/api/fruit/all") 
results = json.loads(data.text)
pandas.DataFrame(results)

,name,id,family,order,genus,nutritions
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,"{'calories': 81, 'fat': 0.0, 'sugar': 18.0, 'c..."
1,Strawberry,3,Rosaceae,Rosales,Fragaria,"{'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'ca..."
2,Banana,1,Musaceae,Zingiberales,Musa,"{'calories': 96, 'fat': 0.2, 'sugar': 17.2, 'c..."
3,Tomato,5,Solanaceae,Solanales,Solanum,"{'calories': 74, 'fat': 0.2, 'sugar': 2.6, 'ca..."
4,Pear,4,Rosaceae,Rosales,Pyrus,"{'calories': 57, 'fat': 0.1, 'sugar': 10.0, 'c..."
5,Durian,60,Malvaceae,Malvales,Durio,"{'calories': 147, 'fat': 5.3, 'sugar': 6.75, '..."
6,Blackberry,64,Rosaceae,Rosales,Rubus,"{'calories': 40, 'fat': 0.4, 'sugar': 4.5, 'ca..."
7,Lingonberry,65,Ericaceae,Ericales,Vaccinium,"{'calories': 50, 'fat': 0.34, 'sugar': 5.74, '..."
8,Kiwi,66,Actinidiaceae,Struthioniformes,Apteryx,"{'calories': 61, 'fat': 0.5, 'sugar': 9.0, 'ca..."
9,Lychee,67,Sapindaceae,Sapindales,Litchi,"{'calories': 66, 'fat': 0.44, 'sugar': 15.0, '..."
10,Pineapple,10,Bromeliaceae,Poales,Ananas,"{'calories': 50, 'fat': 0.12, 'sugar': 9.85, '..."
11,Fig,68,Moraceae,Rosales,Ficus,"{'calories': 74, 'fat': 0.3, 'sugar': 16.0, 'c..."
12,Gooseberry,69,Grossulariaceae,Saxifragales,Ribes,"{'calories': 44, 'fat': 0.6, 'sugar': 0.0, 'ca..."
13,Passionfruit,70,Passifloraceae,Malpighiales,Passiflora,"{'calories': 97, 'fat': 0.7, 'sugar': 11.2, 'c..."
14,Plum,71,Rosaceae,Rosales,Prunus,"{'calories': 46, 'fat': 0.28, 'sugar': 9.92, '..."
15,Orange,2,Rutaceae,Sapindales,Citrus,"{'calories': 43, 'fat': 0.2, 'sugar': 8.2, 'ca..."
16,GreenApple,72,Rosaceae,Rosales,Malus,"{'calories': 21, 'fat': 0.1, 'sugar': 6.4, 'ca..."
17,Raspberry,23,Rosaceae,Rosales,Rubus,"{'calories': 53, 'fat': 0.7, 'sugar': 4.4, 'ca..."
18,Watermelon,25,Cucurbitaceae,Cucurbitales,Citrullus,"{'calories': 30, 'fat': 0.2, 'sugar': 6.0, 'ca..."
19,Lemon,26,Rutaceae,Sapindales,Citrus,"{'calories': 29, 'fat': 0.3, 'sugar': 2.5, 'ca..."
20,Mango,27,Anacardiaceae,Sapindales,Mangifera,"{'calories': 60, 'fat': 0.38, 'sugar': 13.7, '..."
21,Blueberry,33,Rosaceae,Rosales,Fragaria,"{'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'ca..."
22,Apple,6,Rosaceae,Rosales,Malus,"{'calories': 52, 'fat': 0.4, 'sugar': 10.3, 'c..."
23,Guava,37,Myrtaceae,Myrtales,Psidium,"{'calories': 68, 'fat': 1.0, 'sugar': 9.0, 'ca..."
24,Apricot,35,Rosaceae,Rosales,Prunus,"{'calories': 15, 'fat': 0.1, 'sugar': 3.2, 'ca..."
25,Papaya,42,Caricaceae,Caricacea,Carica,"{'calories': 43, 'fat': 0.4, 'sugar': 1.0, 'ca..."
26,Melon,41,Cucurbitaceae,Cucurbitaceae,Cucumis,"{'calories': 34, 'fat': 0.0, 'sugar': 8.0, 'ca..."
27,Tangerine,77,Rutaceae,Sapindales,Citrus,"{'calories': 45, 'fat': 0.4, 'sugar': 9.1, 'ca..."
28,Pitahaya,78,Cactaceae,Caryophyllales,Cactaceae,"{'calories': 36, 'fat': 0.4, 'sugar': 3.0, 'ca..."
29,Lime,44,Rutaceae,Sapindales,Citrus,"{'calories': 25, 'fat': 0.1, 'sugar': 1.7, 'ca..."
30,Pomegranate,79,Lythraceae,Myrtales,Punica,"{'calories': 83, 'fat': 1.2, 'sugar': 13.7, 'c..."
31,Dragonfruit,80,Cactaceae,Caryophyllales,Selenicereus,"{'calories': 60, 'fat': 1.5, 'sugar': 8.0, 'ca..."
32,Grape,81,Vitaceae,Vitales,Vitis,"{'calories': 69, 'fat': 0.16, 'sugar': 16.0, '..."
33,Morus,82,Moraceae,Rosales,Morus,"{'calories': 43, 'fat': 0.39, 'sugar': 8.1, 'c..."
34,Feijoa,76,Myrtaceae,Myrtoideae,Sellowiana,"{'calories': 44, 'fat': 0.4, 'sugar': 3.0, 'ca..."
35,Avocado,84,Lauraceae,Laurales,Persea,"{'calories': 160, 'fat': 14.66, 'sugar': 0.66,..."
36,Kiwifruit,85,Actinidiaceae,Ericales,Actinidia,"{'calories': 61, 'fat': 0.5, 'sugar': 8.9, 'ca..."
37,Cranberry,87,Ericaceae,Ericales,Vaccinium,"{'calories': 46, 'fat': 0.1, 'sugar': 4.0, 'ca..."
38,Cherry,9,Rosaceae,Rosales,Prunus,"{'calories': 50, 'fat': 0.3, 'sugar': 8.0, 'ca..."
39,Peach,86,Rosaceae,Rosales,Prunus,"{'calories': 39, 'fat': 0.25, 'sugar': 8.4, 'c..."
40,Jackfruit,94,Moraceae,Rosales,Artocarpus,"{'calories': 95, 'fat': 0.0, 'sugar': 19.1, 'c..."
41,Horned Melon,95,Cucurbitaceae,Cucurbitales,Cucumis,"{'calories': 44, 'fat': 1.26, 'sugar': 0.5, 'c..."

In [114]:
df2 = pd.json_normalize(results)
df2

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,81,0.00,18.00,18.00,0.00
1,Strawberry,3,Rosaceae,Rosales,Fragaria,29,0.40,5.40,5.50,0.80
2,Banana,1,Musaceae,Zingiberales,Musa,96,0.20,17.20,22.00,1.00
3,Tomato,5,Solanaceae,Solanales,Solanum,74,0.20,2.60,3.90,0.90
4,Pear,4,Rosaceae,Rosales,Pyrus,57,0.10,10.00,15.00,0.40
5,Durian,60,Malvaceae,Malvales,Durio,147,5.30,6.75,27.10,1.50
6,Blackberry,64,Rosaceae,Rosales,Rubus,40,0.40,4.50,9.00,1.30
7,Lingonberry,65,Ericaceae,Ericales,Vaccinium,50,0.34,5.74,11.30,0.75
8,Kiwi,66,Actinidiaceae,Struthioniformes,Apteryx,61,0.50,9.00,15.00,1.10
9,Lychee,67,Sapindaceae,Sapindales,Litchi,66,0.44,15.00,17.00,0.80
10,Pineapple,10,Bromeliaceae,Poales,Ananas,50,0.12,9.85,13.12,0.54
11,Fig,68,Moraceae,Rosales,Ficus,74,0.30,16.00,19.00,0.80
12,Gooseberry,69,Grossulariaceae,Saxifragales,Ribes,44,0.60,0.00,10.00,0.90
13,Passionfruit,70,Passifloraceae,Malpighiales,Passiflora,97,0.70,11.20,22.40,2.20
14,Plum,71,Rosaceae,Rosales,Prunus,46,0.28,9.92,11.40,0.70
15,Orange,2,Rutaceae,Sapindales,Citrus,43,0.20,8.20,8.30,1.00
16,GreenApple,72,Rosaceae,Rosales,Malus,21,0.10,6.40,3.10,0.40
17,Raspberry,23,Rosaceae,Rosales,Rubus,53,0.70,4.40,12.00,1.20
18,Watermelon,25,Cucurbitaceae,Cucurbitales,Citrullus,30,0.20,6.00,8.00,0.60
19,Lemon,26,Rutaceae,Sapindales,Citrus,29,0.30,2.50,9.00,1.10
20,Mango,27,Anacardiaceae,Sapindales,Mangifera,60,0.38,13.70,15.00,0.82
21,Blueberry,33,Rosaceae,Rosales,Fragaria,29,0.40,5.40,5.50,0.00
22,Apple,6,Rosaceae,Rosales,Malus,52,0.40,10.30,11.40,0.30
23,Guava,37,Myrtaceae,Myrtales,Psidium,68,1.00,9.00,14.00,2.60
24,Apricot,35,Rosaceae,Rosales,Prunus,15,0.10,3.20,3.90,0.50
25,Papaya,42,Caricaceae,Caricacea,Carica,43,0.40,1.00,11.00,0.00
26,Melon,41,Cucurbitaceae,Cucurbitaceae,Cucumis,34,0.00,8.00,8.00,0.00
27,Tangerine,77,Rutaceae,Sapindales,Citrus,45,0.40,9.10,8.30,0.00
28,Pitahaya,78,Cactaceae,Caryophyllales,Cactaceae,36,0.40,3.00,7.00,1.00
29,Lime,44,Rutaceae,Sapindales,Citrus,25,0.10,1.70,8.40,0.30
30,Pomegranate,79,Lythraceae,Myrtales,Punica,83,1.20,13.70,18.70,1.70
31,Dragonfruit,80,Cactaceae,Caryophyllales,Selenicereus,60,1.50,8.00,9.00,9.00
32,Grape,81,Vitaceae,Vitales,Vitis,69,0.16,16.00,18.10,0.72
33,Morus,82,Moraceae,Rosales,Morus,43,0.39,8.10,9.80,1.44
34,Feijoa,76,Myrtaceae,Myrtoideae,Sellowiana,44,0.40,3.00,8.00,0.60
35,Avocado,84,Lauraceae,Laurales,Persea,160,14.66,0.66,8.53,2.00
36,Kiwifruit,85,Actinidiaceae,Ericales,Actinidia,61,0.50,8.90,14.60,1.14
37,Cranberry,87,Ericaceae,Ericales,Vaccinium,46,0.10,4.00,12.20,0.40
38,Cherry,9,Rosaceae,Rosales,Prunus,50,0.30,8.00,12.00,1.00
39,Peach,86,Rosaceae,Rosales,Prunus,39,0.25,8.40,9.50,0.90
40,Jackfruit,94,Moraceae,Rosales,Artocarpus,95,0.00,19.10,23.20,1.72
41,Horned Melon,95,Cucurbitaceae,Cucurbitales,Cucumis,44,1.26,0.50,7.56,1.78

In [115]:
cherry = df2.loc[df2["name"] == 'Cherry']
(cherry.iloc[0]['family']) , (cherry.iloc[0]['genus'])

('Rosaceae', 'Prunus')

In [116]:
cal_banana = df2.loc[df2["name"] == 'Banana'] #Amount of calories in banana
cal_banana.iloc[0]['nutritions.calories']

96

In [117]:
data2 = requests.get("https://cat-fact.herokuapp.com/facts")

In [118]:
data2

In [119]:
results2 = json.loads(data2.text)

In [120]:
results2

[{'status': {'verified': True, 'sentCount': 1},
  '_id': '58e008780aac31001185ed05',
  'user': '58e007480aac31001185ecef',
  'text': 'Owning a cat can reduce the risk of stroke and heart attack by a third.',
  '__v': 0,
  'source': 'user',
  'updatedAt': '2020-08-23T20:20:01.611Z',
  'type': 'cat',
  'createdAt': '2018-03-29T20:20:03.844Z',
  'deleted': False,
  'used': False},
 {'status': {'verified': True, 'sentCount': 1},
  '_id': '58e009390aac31001185ed10',
  'user': '58e007480aac31001185ecef',
  'text': "Most cats are lactose intolerant, and milk can cause painful stomach cramps and diarrhea. It's best to forego the milk and just give your cat the standard: clean, cool drinking water.",
  '__v': 0,
  'source': 'user',
  'updatedAt': '2020-08-23T20:20:01.611Z',
  'type': 'cat',
  'createdAt': '2018-03-04T21:20:02.979Z',
  'deleted': False,
  'used': False},
 {'status': {'verified': True, 'sentCount': 1},
  '_id': '588e746706ac2b00110e59ff',
  'user': '588e6e8806ac2b00110e59c3',
  'text': 'Domestic cats spend about 70 percent of the day sleeping and 15 percent of the day grooming.',
  '__v': 0,
  'source': 'user',
  'updatedAt': '2020-08-26T20:20:02.359Z',
  'type': 'cat',
  'createdAt': '2018-01-14T21:20:02.750Z',
  'deleted': False,
  'used': True},
 {'status': {'verified': True, 'sentCount': 1},
  '_id': '58e008ad0aac31001185ed0c',
  'user': '58e007480aac31001185ecef',
  'text': "The frequency of a domestic cat's purr is the same at which muscles and bones repair themselves.",
  '__v': 0,
  'source': 'user',
  'updatedAt': '2020-08-24T20:20:01.867Z',
  'type': 'cat',
  'createdAt': '2018-03-15T20:20:03.281Z',
  'deleted': False,
  'used': True},
 {'status': {'verified': True, 'sentCount': 1},
  '_id': '58e007cc0aac31001185ecf5',
  'user': '58e007480aac31001185ecef',
  'text': 'Cats are the most popular pet in the United States: There are 88 million pet cats and 74 million dogs.',
  '__v': 0,
  'source': 'user',
  'updatedAt': '2020-08-23T20:20:01.611Z',
  'type': 'cat',
  'createdAt': '2018-03-01T21:20:02.713Z',
  'deleted': False,
  'used': False}]

In [121]:
pandas.DataFrame(results2)

,status,_id,user,text,__v,source,updatedAt,type,createdAt,deleted,used
0,"{'verified': True, 'sentCount': 1}",58e008780aac31001185ed05,58e007480aac31001185ecef,Owning a cat can reduce the risk of stroke and...,0,user,2020-08-23T20:20:01.611Z,cat,2018-03-29T20:20:03.844Z,False,False
1,"{'verified': True, 'sentCount': 1}",58e009390aac31001185ed10,58e007480aac31001185ecef,"Most cats are lactose intolerant, and milk can...",0,user,2020-08-23T20:20:01.611Z,cat,2018-03-04T21:20:02.979Z,False,False
2,"{'verified': True, 'sentCount': 1}",588e746706ac2b00110e59ff,588e6e8806ac2b00110e59c3,Domestic cats spend about 70 percent of the da...,0,user,2020-08-26T20:20:02.359Z,cat,2018-01-14T21:20:02.750Z,False,True
3,"{'verified': True, 'sentCount': 1}",58e008ad0aac31001185ed0c,58e007480aac31001185ecef,The frequency of a domestic cat's purr is the ...,0,user,2020-08-24T20:20:01.867Z,cat,2018-03-15T20:20:03.281Z,False,True
4,"{'verified': True, 'sentCount': 1}",58e007cc0aac31001185ecf5,58e007480aac31001185ecef,Cats are the most popular pet in the United St...,0,user,2020-08-23T20:20:01.611Z,cat,2018-03-01T21:20:02.713Z,False,False

In [123]:
df3 = pd.json_normalize(results2)
df3

,_id,user,text,__v,source,updatedAt,type,createdAt,deleted,used,status.verified,status.sentCount
0,58e008780aac31001185ed05,58e007480aac31001185ecef,Owning a cat can reduce the risk of stroke and...,0,user,2020-08-23T20:20:01.611Z,cat,2018-03-29T20:20:03.844Z,False,False,True,1
1,58e009390aac31001185ed10,58e007480aac31001185ecef,"Most cats are lactose intolerant, and milk can...",0,user,2020-08-23T20:20:01.611Z,cat,2018-03-04T21:20:02.979Z,False,False,True,1
2,588e746706ac2b00110e59ff,588e6e8806ac2b00110e59c3,Domestic cats spend about 70 percent of the da...,0,user,2020-08-26T20:20:02.359Z,cat,2018-01-14T21:20:02.750Z,False,True,True,1
3,58e008ad0aac31001185ed0c,58e007480aac31001185ecef,The frequency of a domestic cat's purr is the ...,0,user,2020-08-24T20:20:01.867Z,cat,2018-03-15T20:20:03.281Z,False,True,True,1
4,58e007cc0aac31001185ecf5,58e007480aac31001185ecef,Cats are the most popular pet in the United St...,0,user,2020-08-23T20:20:01.611Z,cat,2018-03-01T21:20:02.713Z,False,False,True,1